body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Choices */
.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

    .choices > * {
        flex: 0 1 200px;
        transition: all .07s ease;
    }

    .choices .rock {
        width: 200px;
    }

    .choices .paper {
        width: 200px;
    }

    .choices .scissors {
        width: 200px;
    }

    .hover-over {
        transform: scale(1.1);
        border-color: black;
        box-shadow: 0 0 1rem black;
    }

/* button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    text-decoration: none;
    cursor: pointer;
    padding: 30px 30px;
    font-weight: bold;
    border-radius: 6px;
} */